.page-header > * {
  text-align: center;
}

h1 {
  font-size: 8rem;
}

p {
  max-width: 500px;
  margin: 3rem auto;
}

section p {
  margin-bottom: 6rem;
  text-align: right;
}

span {
  float: left;
  box-sizing: border-box;
  background-color: rgb(200, 249, 232);
  /* border: 1px solid #fff; */
  height: 6px;
  width: 6px;
}

.grid {
  width: 600px;
  height: 600px;
  margin: 6rem auto;
}

.prime {
  background-color: crimson;
}