.page-header > * {
  text-align: center;
}

h1 {
  font-size: 8rem;
}

body {
  font-size: 10px;
}

p {
  max-width: 500px;
  margin: 3rem auto;
}

section p {
  margin-bottom: 6rem;
  text-align: right;
}

span {
  float: left;
  box-sizing: border-box;
  /* background-color: rgb(200, 249, 232); */
  border: 1px solid rgb(4, 68, 58);
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 2px;
  font-size: 15px;
}

.grid {
  width: 180px;
  height: 180px;
  margin: 6rem auto;
}

.prime {
  background-color: crimson;
}