@import './reset.css';
@import './typography.css';
@import './ulam-main.css';
@import './spiral-nums.css';
@import './traversal.css';
@import './paths.css';

html { 
  background: url("../assets/ulam-transformed1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: rgb(249, 246, 243);
  max-width: 45rem;
  margin: 9rem auto;
  box-shadow: inset 0 0 8px rgb(17, 33, 30);
}

.article {
  max-width: 35rem;
  margin: 0rem auto;
  padding: 0.75rem;
  padding-bottom: 3rem;
}

.fib {
  display: block;
  width: 20%;
  margin: 0rem auto;
}

.transformed {
  width: 100%;
}