.paths-grid {
  width: 400px;
  height: 400px;
  margin: 2rem auto;
}

.paths-grid span {
  float: left;
  box-sizing: border-box;
  background-color: rgb(200, 249, 232);
  height: 20px;
  width: 20px;
  font-size: 9px;
  text-align: center;
}