.tra-grid {
  width: 300px;
  height: 300px;
  margin: 2rem auto;
}

.tra-grid span {
  float: left;
  box-sizing: border-box;
  background-color: rgb(200, 249, 232);
  border: 1px solid rgb(4, 68, 58);
  height: 30px;
  width: 30px;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
}

.tra-grid .current {
  background-color: #df3897;
}

.tra-grid .right {
  background-color: #c68dff;
}

.tra-grid .left {
  background-color: #ca94ff;
}

.tra-grid .up {
  background-color: #9494ff;
}

.tra-grid .down {
  background-color: #8abfff;
}