body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: rgb(34, 27, 22);
}

h1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  padding: 1rem;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.author {
  font-family: 'Bodoni Moda', serif;
  font-size: 1.4rem;  
  font-style: italic;
  text-align: center;
  margin: 1rem 1rem 3rem 1rem;
}

figure {
  margin-bottom: 1rem;
}

blockquote {
  font-style: italic;
  background: rgb(242, 235, 230);
  padding: 0.3rem;
}

figcaption {
  text-align: right;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 5rem 0rem 1rem 0rem;
}
@media screen and (max-width: 700px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
}

h3 {
  font-family: 'Bodoni Moda', serif;
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

i {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.fa-chevron-up {
  margin-top: 3rem;
}

.fa-chevron-down {
  margin-bottom: 1.5rem;
}

h4 {
  font-family: 'Bodoni Moda', serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-style: italic;
  margin: 2rem 0rem 1rem 0rem;
}

p {
  margin-bottom: 1rem;
}

li strong, p strong {
  font-weight: 700;
}

ul.contents {
  list-style: none;
  margin-bottom: 2.5rem;  
}

ul.contents li {
  font-family: 'Bodoni Moda', serif;
  font-size: 1.3rem; 
  line-height: 2rem;
}  
@media screen and (max-width: 700px) {
  ul.contents li {
    font-size: 1.1rem; 
    line-height: 1.6rem;
  } 
}

ol.list {
  list-style-type: decimal;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

ul.questions {
  list-style: disc;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  color: rgb(17, 75, 79);
}

ul.questions li {
  margin-bottom: 0.5rem;
}

ul.answers {
  list-style: circle;
  margin-left: 2rem;
  margin-top: 0.75rem;
  color: rgb(34, 27, 22);
}

.terminal {  
  background-color: black;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.terminal .code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  list-style-type: decimal;
  color: aquamarine;
  margin-left: 3rem;
}
@media screen and (max-width: 700px) {
  .terminal .code {    
    font-size: 0.7rem;
    margin-left: 2rem;
  } 
}

.terminal .comment {
  color: rgb(71, 161, 26);
}

.inline-code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  background-color: black;
  color: aquamarine;
  padding: 3px;
  border-radius: 3px; 
}

.italic {
  font-style: italic;
}

a {
  color: rgb(16, 142, 129);
  text-decoration: none;
}

a:visited {
  color: rgb(16, 142, 129);
}

a:hover {
  color: rgb(13, 77, 71);
}