.main-grid {
  width: 600px;
  height: 600px;
  margin: 2rem auto;
}

.main-grid span {
  float: left;
  box-sizing: border-box;
  background-color: rgb(200, 249, 232);
  height: 6px;
  width: 6px;
}

.main-grid .prime {
  background-color: rgb(4, 56, 57);
}